<h1>$animal.getDescription()</h1>
<h2>Completed?:  $animal.isCompleted()</h2>

<a href="/animals/$animal.getId()/edit">Mark complete</a>
<br>
a href="/animals/$animal.getGender()/edit">Enter Gender</a>
<br>


<a href="/animals/$animal.getId()/delete">Delete</a>
<br>
<a href="/categories/$animal.getCategoryId()/animals/new">Add another animal</a>
<br>
<a href="/animals">All animals</a>
